:root {
  /*! Color Palette */
  --color-link: #285aff;
  --color-text-primary: #15110d;
  --color-text-secondary: #d8d8d8;
  --color-bg-main: #fbfbf8;
  --color-bg-card: #ffffff;

  /*! Size */
  --size-card-width: 28rem;
  --size-card-height: 24rem;
}

body {
  margin: 0;
  background-color: var(--color-bg-main);
  background-image: radial-gradient(
    circle,
    var(--color-text-secondary) 1px,
    rgba(0, 0, 0, 0) 2px
  );
  background-size: 20px 20px;
  background-repeat: repeat;
  font-family: "JetBrains Mono", monospace;
}

main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

#parent {
  position: relative;
  width: 30rem;
  height: 30rem;
}

#scrollable-container {
  display: flex;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scrollable-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollable-card {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#visible-cards-container {
  perspective: calc(30rem * 2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.visible-card {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  height: calc(100% - 2.5rem);
  transform-style: preserve-3d;
}

.visible-card-content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: var(--size-card-width);
  height: var(--size-card-height);
  padding: 2rem 1.5rem 1.5rem;
  background-color: var(--color-bg-card);
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: var(--color-text-primary);
  text-align: center;
  font-size: 1.5rem;
  overflow: hidden;
  position: relative;
}

.text-content {
  max-width: 100%;
  white-space: normal;
  word-break: break-word;
}

.person-link {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: var(--color-link);
}

.plus-icon {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 2rem;
  font-weight: 100;
  color: var(--color-text-secondary);
  user-select: none;
}
