body {
  margin: 0;
  background-color: rgb(251, 251, 248);
  background-image: radial-gradient(circle, #e3e3e3 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 20px 20px;
  background-repeat: repeat;
  font-family: "JetBrains Mono", monospace;
}

main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

#parent {
  position: relative;
  width: 30rem;
  height: 30rem;
}

#scrollable-container {
  display: flex;
  overflow-x: scroll;
  height: 100%;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scrollable-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollable-card {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#visible-cards-container {
  perspective: calc(30rem * 2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.visible-card {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  width: 40%;
  pointer-events: none;
  height: calc(100% - 2.5rem);
  transform-style: preserve-3d;
}

.visible-card-content {
  /* Fill the parent and center content */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 100%;
  height: 14rem; /* fill the visible-card height */
  padding: 0.5rem;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: rgb(25, 21, 15);
  text-align: center;
  /* Ensure long text wraps and doesn't overflow */
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
}
